body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #7d7a7a;
  padding: 4%;
  background-color: aliceblue;
  display: inline-block;
  width: 70%;
  margin-left: 13%;
  margin-top: 3%; }
  body .Main-container {
    display: inline-block;
    width: 35em;
    float: center;
    margin-left: 26%;
    margin-right: 21%;
    margin-top: 8%;
    background-color: lightgray;
    border: 3px solid gray;
    margin-bottom: 5%; }

form input.message{
  width: 70%;
  margin-left: 1%;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

form input.user{
  width: 23%;
  margin-left: 1%;
  display: inline-block;
}


h1 {
  font-size: 2em;
  margin-left: 22%;
  
}



button {
  margin-left: 1; }
